<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <title>Museo Del Ciclomotor</title>
</head>
<body>
    <a href="/pagina_busqueda" class="pantalla-click">
        <div class="contenedor-pantalla">
            <p class="texto-animado">¡Tocá la pantalla para continuar!</p>
            <img src="/img/logotipo Museo Ciclomotor celeste.png" alt="logotipo" class="superpuesta">
            <img src="/img/pantalla_inicio.png" alt="pantalla_inicio" class="fondo">    
            <div class="overlay-negro"></div>
        </div>
    </a>
</body>
</html>