<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <title>Prisma</title>
 
</head>
<body>
    <header>
        
    </header>
    
    <main>
        
        
        <section class="oferta">
            <div class="slider-banner">
    
            </div>
        </section>

        <h2>Novedades</h2>

    <% product.forEach(producto => { %>
       <a><%=producto.modelo%></a>
    <% }); %> 

    <br>
   


        <div id="root"></div>
    <h2>Conoce Más</h2>
    <section class="mas-info">
        
    </section>


    </main>
    <footer>
          
    </footer>
    
    
</body>
</html>