<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/index.css">

    <title>Document</title>
</head>
<body>
   

    <a href="/pagina_busqueda" class="pantalla-click">
        <div class="contenedor-pantalla">
            <img src="/img/Toca_la_pantalla_para_continuar.png" alt="texto" class="texto_superpuesto">
            <img src="/img/logotipo Museo Ciclomotor rojo.png" alt="logotipo" class="superpuesta">
            <img src="/img/pantalla_inicio.png" alt="pantalla_inicio" class="fondo">    
        </div>
    </a>

    

</body>
</html>