<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagina_historia.css">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <title>Historia Del Museo Del Ciclomotor</title>
</head>
<body>
    <a href="/pagina_busqueda" class="pantalla-click">
        <div class="contenedor-pantalla">
            <h1 class="titulo">Hablemos de Historia...</h1>
            <p class="texto-animado">¡Descubrí nuevos Objetos!</p>
            <p class="texto-animado2">Este museo invita a un viaje en el tiempo a través de ciclomotores, motos y una colección de
                objetos antiguos que marcaron la vida cotidiana: televisores, teléfonos, botellas y muchos más.
            
                Cada pieza conserva una historia y refleja cómo fueron cambiando la tecnología, el diseño y las costumbres de
                nuestra sociedad.
            
                Más que objetos, son testigos de época que nos conectan con recuerdos, emociones y la identidad de varias
                generaciones.
            
            
                ¡Te invitamos a recorrerlo, sorprenderte y volver a viajar en el tiempo!</p>
            <img src="/img/logotipo Museo Ciclomotor celeste.png" alt="logotipo" class="superpuesta">
            <img src="/img/pantalla_historia.png" alt="pantalla_inicio" class="fondo">    
            <div class="overlay-negro"></div>
        </div>
    </a>
</body>
</html>