/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

body {
  font-family: "Nunito", sans-serif;

}

.models {
    text-decoration: none; /* Quita subrayado de cualquier texto dentro de <a> */
    color: inherit;        /* Mantiene el color de la carta */
}

.grid-superior{
    
  display: grid;
  grid-template-columns: repeat(3, 3fr); /* 3 cartas por fila */
  gap: 20px; /* espacio entre cartas */
  justify-items: center; /* centra cada carta */
}

.card {
 
  width: 614px !important;
  height: 780px !important;
  border: none !important;
  overflow: hidden !important;
} 

.card img{
  object-fit: cover;
  margin-top: 15px;
  width: 540px;
  height: 540px;
  
}

