@import url('paleta_colores.css');

* {
    font-family: Nunito, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.05);
        filter: brightness(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}

body {
    margin: 0;
    padding: 0;
    color: var(--COLOR-TEXTO-BLANCO);
    text-align: center;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    animation: fadeIn 1s ease forwards;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, var(--COLOR-FONDO-BLANCO-TRASP), var(--COLOR-FONDO-ROJO-GRADIENTE)),
        url("../img/ciclomotor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    animation: fadeIn 1s ease forwards;
}

.ficha-museo img {
    border-radius: 7%;
    width: 1960px;
    height: 1730px;
    background: var(--COLOR-TEXTO-BLANCO);
    padding: 0px;
    object-fit: cover;
    animation: fadeIn 1s ease forwards;
}

.botones { 
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 200px;              
    height: 400px;
    animation: fadeIn 1s ease forwards;
}

.boton-atras, .boton-catalogo {
    display: flex;               
    justify-content: center;     
    align-items: center;         
    font-size: 90px;
    width: 550px;
    height: 241px;
    padding: 0;                  
    border-radius: 90px;
    background: var(--COLOR-BOTON-FONDO); 
    color: var(--COLOR-TEXTO-BLANCO);
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.boton-catalogo {
    width: 1200px;
}

.ficha-museo h1 {
    font-size: 100px;
    animation: fadeIn 1s ease forwards;
}

.detalles {
    font-size: 80px;
    text-align: left;
    margin-left: 200px;
    animation: fadeIn 1s ease forwards;
}
