* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Nunito, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Fondo con imagen + gradiente */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, #ffffffb7, #d81919e0),
        url("../img/ciclomotor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Lo manda al fondo */
}

.ficha-museo img{
    border-radius: 7%;
    width: 1960px;
    height: 1730px;

    background: #fff;
    padding: 0px;
    object-fit: cover;
}

.botones { 
    display: flex;
    justify-content: center; /* centra los botones horizontalmente */
    align-items: center;     /* centra verticalmente dentro del contenedor */
    gap: 200px;               /* espacio entre botones */
    height: 400px;
}

/* Botones grandes con gradiente centrado */
.boton-atras, .boton-catalogo {
    display: flex;               /* Para centrar texto */
    justify-content: center;     /* Centrar horizontal */
    align-items: center;         /* Centrar vertical */
    
    font-size: 90px;
    width: 550px;
    height: 241px;
    padding: 0;                  
    border-radius: 90px;

    background: linear-gradient(to bottom, rgb(255, 255, 255), #d40400); 
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.boton-catalogo {
    display: flex;               /* Para centrar texto */
    justify-content: center;     /* Centrar horizontal */
    align-items: center;         /* Centrar vertical */
    
    font-size: 90px;
    width: 1200px;
    height: 241px;
    padding: 0;                  
    border-radius: 90px;

    background: linear-gradient(to bottom, rgb(255, 255, 255), #d40400); 
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}


.ficha-museo h1{
    font-size: 100px;
}
.detalles{
    font-size: 80px;
    text-align: left;
    margin-left: 200px;
}
