* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Nunito, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Fondo con imagen + gradiente */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, #d81919, #f5f5f5d9),
        url("../img/ciclomotor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Lo manda al fondo */
}

.button-header{
    padding: 50px;
}

.button-search {
   width: 50%;
   height: 200px;
   background-color: #d81919; /* tu color */
   border-radius: 100px;
   border: 10px solid white; /* grosor visible del borde */
   font-size: 62px;
   font-weight: 700; /* letras más gruesas */
   color: white; /* letras blancas */
   cursor: pointer; /* mano al pasar */
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 20px 0;
    background-color: rgba(255, 0, 0, 0); /* color semi-transparente */
    overflow: hidden;
}

/* Capa de blur con filtro simple (simula backdrop) */
.navbar::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* toma el color de la navbar */
    filter: blur(100px); /* difumina esta capa */
    z-index: 0;
}

/* Logo */
.navbar img {
    margin-top: 8%;
    position: relative;
    z-index: 1; /* logo sobre el blur */
    height: 100%;
    transition: height 0.3s ease;
}

h1 {
   font-size: 160px;
   height: 100%;
   width: auto;
   margin-top: 40%;
}

h2 {
    margin: 20px 0;
    color: #ffdfdf;
    font-size: 60px;
}

h3 {

    color: #ffffff;
    font-size: 90px;
}

.barra-busqueda-header{
    width: 100%;
    height: 500px;

}

input.input-header{
    height: 200px;
}
select.select-header{
    height: 200px;
}


/* Buscador */
.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* espacio entre input y select */
    margin: 40px 0;
    flex-wrap: wrap; /* en pantallas chicas se apila */
}

.search-box select,
.search-box input {
    padding: 20px;
    border-radius: 100px;
    border: none;
    font-size: 62px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.search-box input{
    text-align: center;
}



.search-box input {
    width: 70%;
    min-width: 280px;
}

.search-box select {
    width: 25%;
    min-width: 180px;
}

.search-box select option {
    font-size: 16px; 
    color:#d81919;
}

/* Quitar subrayado de enlaces dentro de .card-text */
.models {
    text-decoration: none;
    color: inherit;
}