/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.grid-superior, .grid-inferior {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
  gap: 0; /* o el que necesites */
  width: 2160px; /* ancho total */
}

.card-frame {
  width: 720px !important; /* 2160px / 3 = 720px */
  height: 850px !important;
  border: none !important;
  overflow: hidden !important;
}